.skills{
    padding: 20px;
    margin-top: 40px;
    & h1{
        color: #ff3838;
    }

    & .skills-content{
        display: flex;
        padding: 50px;
        align-items: center;
        justify-content: center;
    }
}