.about{
    padding: 20px;
    margin-top: 40px;
    & h1{
        color: #ff3838;
    }

    & .about-content{
        display: flex;
        padding: 50px;
        align-items: center;
        justify-content: space-between;
    }

    & .about-des{
        display: flex;
        padding: 50px;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
}

@media (max-width: 768px){
    .about{
        & .about-content{
            flex-direction: column;
            gap: 20px;
        }
        & .about-des{
            & h1{
                font-size: 1.2rem;
            }
            & h4{
                font-size: 0.8rem;
            }
        }
    }
}